.week-body-wrapper {
  display: block;
  position: relative;
  min-height: 80vh;
  width: 100%;
}

.week-content {
  display: flex;
  align-items: flex-start;
  height: 70vh;
  width: 100%;
  overflow: auto;
}
