.viewpet-table-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid white;
  min-height: 40px;
  height: 10%;
}

.viewpet-table-row > div {
  flex: 1;
  height: 100%;

  display: flex;
  align-items: center;

  padding-left: 5px;
  border-right: 1px solid white;

  cursor: default;
}

.viewpet-table-row:hover {
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.623);
}

.viewpet-table-row > div > p {
  padding-left: 8px;

  font-family: "Montserrat-Bold";
  color: var(--headings);

  font-size: 16px;
}

.viewpet-table-row > div:nth-last-of-type(1) {
  border-right: none;
  justify-content: flex-end;
  padding-right: 8px;
}

.viewpet-table-row a {
  text-decoration: none;
  color: var(--headings);
  font-family: "Montserrat-Bold";
}
