.addclient-form {
  width: 25vw;
  height: 80vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding: 20px;

  overflow: auto;

  border: 1px solid gray;
}

.addclient-form-fields {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  width: 100%;
}

.addclient-form-field {
  width: 100%;
}

.addclient-form-input {
  width: 100%;
  height: 30px;

  background-color: white;
  box-shadow: inset 0 0 5px rgb(179, 178, 178);
  border: 3px solid rgb(192, 192, 192);
  border-radius: 10px;

  font-family: "Montserrat-Regular";
  font-size: 18px;
  text-align: center;

  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type="text"]:focus {
  border: 3px solid var(--month-days-color);
}

.addclient-form-field .invalid {
  color: crimson;
  font-weight: bold;
}


.form-controls {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-controls > button {
  width: 40%;
  padding: 10px 0px;

  box-shadow: inset 0 0 5px grey;
  border: transparent;
  border-radius: 10px;

  cursor: pointer;

  font-family: "Montserrat-Bold";
  font-size: 16px;
  color: rgb(255, 255, 255);
  text-shadow: -1px -1px 0 rgb(122, 122, 122), 1px -1px 0 rgb(122, 122, 122),
    -1px 1px 0 rgb(122, 122, 122), 1px 1px 0 rgb(122, 122, 122);
}

.addclient-cancel {
  background: var(--week-examinations-color);
}

.addclient-add {
  background: var(--glass-hover);
}
